<div class="ui hidden divider"></div>
<h4 class="ui top attached large header">Scaleflex Cloudimage</h4>
<div class="ui attached segment">
    {{ form_row(form.cloudimageStatus) }}
    {{ form_row(form.cloudimageToken) }}
    <h5>Options</h5>
    {{ form_row(form.cloudimageDoNotReplaceUrl) }}
    {{ form_row(form.cloudimageIgnoreNodeImgSize) }}
    {{ form_row(form.cloudimageIgnoreStyleImageSize) }}
    {{ form_row(form.cloudImageLazyLoading) }}
    <h5>Advanced Options</h5>
    {{ form_row(form.cloudimageIgnoreSvg) }}
    {{ form_row(form.cloudimageImageQuality) }}
    {{ form_row(form.cloudimageDevicePixelRatio) }}
    <h5>Custom</h5>
    {{ form_row(form.cloudimageCustomFunction) }}
    {{ form_row(form.cloudimageLibraryOptions) }}
</div>