<div class="ui hidden divider"></div>
<h4 class="ui top attached large header">{{ "scaleflex_sylius_cloudimage.ui.title"|trans }}</h4>
<div class="ui attached segment">
    {{ form_row(form.cloudimageStatus) }}
    {{ form_row(form.cloudimageToken) }}
    <h5>{{ "scaleflex_sylius_cloudimage.ui.option"|trans }}</h5>
    {{ form_row(form.cloudimageDoNotReplaceUrl) }}
    {{ form_help(form.cloudimageDoNotReplaceUrl) }}
    {{ form_row(form.cloudimageIgnoreNodeImgSize) }}
    {{ form_help(form.cloudimageIgnoreNodeImgSize) }}
    {{ form_row(form.cloudimageIgnoreStyleImageSize) }}
    {{ form_help(form.cloudimageIgnoreStyleImageSize) }}
    {{ form_row(form.cloudimageLazyLoading) }}
    {{ form_help(form.cloudimageLazyLoading) }}
    {{ form_row(form.cloudimageRemoveV7) }}
    {{ form_help(form.cloudimageRemoveV7) }}
    <h5>{{ "scaleflex_sylius_cloudimage.ui.advanced"|trans }}</h5>
    {{ form_row(form.cloudimageIgnoreSvg) }}
    {{ form_help(form.cloudimageIgnoreSvg) }}
    {{ form_row(form.cloudimageImageQuality) }}
    <p class="help-text">{{ "scaleflex_sylius_cloudimage.help.image_quality"|trans|raw }}</p>
    {{ form_row(form.cloudimageDevicePixelRatio) }}
    {{ form_help(form.cloudimageDevicePixelRatio) }}
    {{ form_row(form.cloudimageOrgIfSml) }}
    {{ form_help(form.cloudimageOrgIfSml) }}
    <h5 style="color: red">{{ "scaleflex_sylius_cloudimage.ui.custom"|trans }}</h5>
    {{ form_row(form.cloudimageCustomFunction) }}
    {{ form_row(form.cloudimageLibraryOptions) }}
</div>